@use "@angular/material" as mat;

.container {
  display: flex;
  justify-content: left;
  padding-left: 250px;
  align-items: center;
  height: 100%;
  width: 81.7%;
  background-color: #f5f5f5;
  background-image: image-set(
    "https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/banners-01.png"
  );
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.register-card {
  width: 400px;
  padding: 20px;
  margin-top: 32px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  max-width: 400px;
}

.flex-item {
  width: 100%;
  margin-bottom: 20px;
}

.button {
  width: 100%;
  margin-top: 20px;
}
