.search-container {
    margin-bottom: 15px; /* Space between search and table */
    display: flex;
    justify-content: flex-start;
  }
  
  /* Styling for the search field */
  .search-field {
    width: 300px; /* You can adjust this width as needed */
  }