<!-- <div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search by username, email, etc." />
  </mat-form-field>
</div> -->
<div class="search-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search by customer name"
      (keyup)="onSearchInput($event)"
    />
  </mat-form-field>
  <h3 style="color: red">{{ errorMessage }}</h3>
</div>
<app-table
  [columns]="orderColumns"
  [ordersDetails]="ordersArray"
  [totalItems]="totalItems"
  [pageSize]="pagesize"
  (pageChange)="onPageChange($event)"
></app-table>
