.login-container {
  display: flex;
  justify-content: left;
  padding-left: 250px;
  align-items: center;
  height: 100%;
  width: 81.7%;
  background-color: #f5f5f5;
  background-image: image-set(
    "https://d3ljlx3hzhder.cloudfront.net/sprink/b2c_assets/images/banners-01.png"
  );
  background-repeat: no-repeat;
  background-size: 1775px, 500px;
}

.login-card {
  width: 400px;
  padding: 20px;

  .mat-mdc-card-header {
    // text-align: center;
    // font-size: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
  }

  .form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .button {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    margin-bottom: 24px;
  }
  .hyperlink {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  .mat-mdc-card-footer {
    // text-align: center;
    // margin-top: 5px !important;
  }
}
