<mat-card class="my-custom-card example-card" appearance="outlined">
  <table
    mat-table
    [dataSource]="dataSource"
    class="table"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    <ng-container matColumnDef="select">
      <th class="heading" mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="'select all'"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="'select row'"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
      <th
        class="heading"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by {{ column.name }}"
      >
        {{ column.header }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="onRowClick(element, element._id)"
      >
        <!-- <ng-container *ngIf="column.name === 'isActive'">
          <mat-slide-toggle
            [checked]="element.isActive"
            (change)="onToggleChange(element)"
          >
          </mat-slide-toggle>
        </ng-container> -->
        <ng-container *ngIf="column.name === 'payment_status'">
          <span
            [ngClass]="{
              paid: element.payment_status === 'paid',
              unpaid: element.payment_status === 'unpaid'
            }"
          >
            {{ element.payment_status }}
          </span>
        </ng-container>

        <ng-container *ngIf="column.name === 'customer_name'">
          {{ element.cart?.customer_name || "N/A" }}
        </ng-container>

        <ng-container
          *ngIf="
            column.name !== 'payment_status' && column.name !== 'customer_name'
          "
        >
          <ng-container *ngIf="column.name === 'tiffin_name'">
            {{ element.cart?.items[0]?.tiffin_name }}
          </ng-container>
          <ng-container *ngIf="column.name === 'tiffin_isavailable'">
            {{ element.tiffin_isavailable ? "Available" : "Not Available" }}
          </ng-container>

          <ng-container *ngIf="column.name === 'tiffin_type'">
            <ng-container *ngIf="element.tiffin_type === 'veg'">
              <mat-icon class="veg-icon" matTooltip="Veg">eco</mat-icon>
            </ng-container>
            <ng-container *ngIf="element.tiffin_type !== 'veg'">
              <mat-icon class="non-veg-icon" matTooltip="Non-Veg">eco</mat-icon>
            </ng-container>
          </ng-container>

          <ng-container
            *ngIf="
              column.name !== 'tiffin_isavailable' &&
              column.name !== 'tiffin_type'
            "
          >
            {{ applyPipe(element[column.name], column.pipe) }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">
        No data found "{{ searchedQueryNotFound }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    class="my-custom-paginator"
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[1, 2, 15, 21]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-card>
