.table {
  width: 100%;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: white;
  border-radius: 10px;
}

.example-card {
  padding: 20px;
  margin: 16px;
}

.heading {
  background: none !important;
  background-color: #8080802b !important;
}

.paid {
  color: green;
}

.unpaid {
  color: red;
}

.veg-icon {
  color: green;
  font-size: 20px; /* Adjust size as needed */
}

.non-veg-icon {
  color: red;
  font-size: 20px; /* Adjust size as needed */
}
