.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .example-card {
    width: 280px;
    transition: height 0.3s ease;
  }
  
  mat-card-header {
    display: flex;
    align-items: center;
  }
  
  mat-card-header img {
    border-radius: 5%;
    width: 248px;
    height: 164px;
    margin-right: 10px;
  }
  
  mat-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  mat-card-content {
    font-size: 14px;
    color: #555;
  }

  .toggle-button{
    margin: 16px;
  }


  