<div class="container">
  <mat-toolbar class="mat-toolbar">
    <div class="mat-tool-right">
      <button mat-icon-button class="my-custom-button">
        <mat-icon (click)="goBack()">arrow_back</mat-icon>
      </button>
      <h1>Edit Product</h1>
    </div>
    <button mat-stroked-button color="primary" class="my-custom-button">
      Update
    </button>
  </mat-toolbar>
  <div class="section-two">
    <div class="quick-link">
      <mat-card class="my-custom-card">
        <mat-card-content>
          <h2>Quick Links</h2>
          <ul>
            <li>
              <a href="#">Product List</a>
            </li>
            <li>
              <a href="#">Add Product</a>
            </li>
            <li>
              <a href="#">Edit Product</a>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="product-info">
      <form [formGroup]="tiffinForm">
        <div class="form-content">
          <div class="card-one">
            <mat-card class="my-custom-card">
              <mat-card-header>Tiffin Information</mat-card-header>
              <mat-card-content>
                <mat-form-field
                  appearance="outline"
                  class="my-custom-form-field"
                >
                  <mat-label>Product Name</mat-label>
                  <input
                    matInput
                    formControlName="tiffin_name"
                    placeholder="Enter product name"
                  />
                </mat-form-field>
                <div class="inner-fields">
                  <div class="price-field">
                    <mat-form-field
                      appearance="outline"
                      class="my-custom-form-field"
                    >
                      <mat-label>Product Price</mat-label>
                      <input
                        matInput
                        formControlName="tiffin_price"
                        placeholder="Enter product price"
                      />
                    </mat-form-field>
                  </div>
                  <div class="product-quantity">
                    <mat-form-field
                      appearance="outline"
                      class="my-custom-form-field"
                    >
                      <mat-label>Product Quantity</mat-label>
                      <input
                        matInput
                        formControlName="tiffin_available_quantity"
                        placeholder="Enter product quantity"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <mat-form-field appearance="outline" class="custome-text-area">
                  <mat-label>Product Description</mat-label>
                  <textarea
                    matInput
                    formControlName="tiffin_description"
                    placeholder="Enter product description"
                  ></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="card-two">
            <mat-card class="my-custom-card">
              <mat-card-content>
                <mat-form-field
                  appearance="outline"
                  class="my-custom-form-field"
                >
                  <mat-label>Product Category</mat-label>
                  <input
                    matInput
                    formControlName="tiffin_type"
                    placeholder="Enter product category"
                  />
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <mat-card class="my-custom-card">
              <mat-card-content>
                <mat-form-field
                  appearance="outline"
                  class="my-custom-form-field"
                >
                  <mat-label>Product Image</mat-label>
                  <input
                    matInput
                    formControlName="tiffin_image_url"
                    placeholder="Enter product image"
                  />
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="control-buttons">
          <button mat-stroked-button color="primary" class="my-custom-button">
            Delete
          </button>
          <button mat-stroked-button color="warn" class="my-custom-button">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
