.container {
  background-color: #f0f0f0;
  width: 100%;
}
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  margin-bottom: 32px;
}
.mat-tool-right {
  width: 176px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-info {
  width: 100%;
}
.fixed-card {
  position: fixed;
  max-width: fit-content;
  z-index: 1000;
}
.quick-link {
  max-width: 100%;
  width: 22%;
  padding-right: 32px;
  padding-left: 32px;
}
.section-two {
  display: flex;
  flex-direction: row;
  padding-right: 32px;
  padding-top: 96px;
  padding-bottom: 16px;
  height: 100%;
}
.inner-fields {
  width: 100%;
  display: flex;
}
.price-field {
  width: 100%;
  padding-right: 16px;
}
.product-quantity {
  width: 100%;
  padding-left: 16px;
}
.product-info {
  // width: 100%;
}
.control-buttons {
  display: flex;
  justify-content: right;
  width: 100%;
  padding-right: 32px;
  gap: 16px;
}
.mat-card-header {
  padding-bottom: 24px;
}
