<div class="container">
  <mat-toolbar class="mat-toolbar">
    <div class="mat-tool-right">
      <mat-form-field class="my-custom-form-field" appearance="outline">
        <mat-label>Search Admins</mat-label>
        <input class="input" matInput placeholder="Search by name or email" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary" (click)="goToProductDetails()">
      + Add Product
    </button>
  </mat-toolbar>
  <app-table [columns]="columns" [columnDetails]="tiffinArray"></app-table>
</div>
<!--  -->
